<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nebula">

    <!--access_network_state NetBroadcastUtils中会请求网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--蓝牙权限，应该放到sample中去，灵活配置-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>


    <application
        android:name=".AnApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:windowSoftInputMode="stateAlwaysHidden"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/base_fileprovider_takephoto" />
        </provider>
        <receiver android:name=".take.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.activity.INPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoBarTheme" />


        <service
            android:name=".take.RetxService"
            android:exported="false" />
        <receiver
            android:name=".take.ApkInstallReceiver"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="installapk" />
            </intent-filter>
        </receiver>
    </application>
</manifest>